@import url(http://fonts.googleapis.com/css?family=Questrial);

body {
	text-align: center;
	padding: 10px;
	background: #f5fdff;
	font-family: 'Questrial', sans-serif;
}

p {
	padding-bottom: 20px;
	text-align: justify;
	text-indent: 20px;
}

p.rock_on {
	text-align: center;
	text-indent: 0px;
}

a {
	text-decoration: none;
	color: #009900;
}

a:active {
	color: inherit;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	width: 333px;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#content {
	display: none;
}

#loading {
	color: #A0A0A0;
}

#header {
	font-size: 4em;
	font-weight: bold;
}

#subheader {
	color: #A0A0A0;
}

#number {
	color: #4877e5;
}

/****** NAVIGATION ******/

.nav {
	display: inline-block;
	width: 40px;
	border: 3px solid #444444;
	margin: 0;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	cursor: pointer;
}

#wtf_nav {
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	-moz-border-radius-bottomleft: 20px;
	-moz-border-radius-topleft: 20px;
}

#wtf_nav.selected {
	background: #AAFFFF;
}

#wtf_nav:hover:not(.selected) {
	background: #DDFFFF;
}

#recent_nav.selected {
	background: #AAFFAA;
}

#recent_nav:hover:not(.selected) {
	background: #DDFFDD;
}

#best_nav {
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	-moz-border-radius-bottomright: 20px;
	-moz-border-radius-topright: 20px;
}

#best_nav.selected {
	background: #AAAAFF;
}

#best_nav:hover:not(.selected) {
	background: #DDDDFF;
}

.load {
	border: 3px solid #0000FF;
	background: #EEEEFF;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	color: #0000ff;
}

.load:hover {
	background: #CCCCFF;
	text-decoration: underline;
}

/****** WTF BODY ******/

#wtf {
	margin-top: 15px;
}

/****** FEED BODY ******/

.msg {
	display: inline-block;
	padding: 10px;
	margin: 5px;
	border-radius: 20px;
	-moz-border-radius: 20px;
}

.breaker {
	clear: both;
}

/****** BEST BODY ******/

.best {
	margin-top: 20px;
	padding-bottom: 10px;
}

.divider {
	height: 1px; 
	background-color: #444444; 
	text-align: center;
	margin: 10px;
}

.divider_label {
	background-color: #f5fdff; 
	position: relative; 
	top: -0.5em; 
	padding-right: 5px; 
	padding-left: 5px;
}

#load_more_best {
	margin-top: 10px;
}

/****** OTHER *******/

noscript {
	color: #FF0000;
	font-weight: bold;
}